@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Theme Colors */
  --pink-400: rgb(244 114 182);
  --rose-400: rgb(249 115 128);
  --blue-400: rgb(96 165 250);
  --green-400: rgb(74 222 128);
  --purple-400: rgb(192 132 252);
  --orange-400: rgb(251 146 60);
  --yellow-400: rgb(250 204 21);
  --red-400: rgb(251 113 133);

  --background: 45 33% 97%;
  --foreground: 48 20% 20%;
  --card: 45 33% 97%;
  --card-foreground: 60 3% 7.6%;
  --popover: 0 0% 100%;
  --popover-foreground: 51 20% 13%;
  --primary: 18 60% 52%;
  --primary-foreground: 0 0% 100%;
  --secondary: 48 27% 89%;
  --secondary-foreground: 52 8% 30%;
  --muted: 45 32% 90%;
  --muted-foreground: 54 2% 50%;
  --accent: 48 27% 89%;
  --accent-foreground: 51 20% 13%;
  --destructive: 60 3% 7.6%;
  --destructive-foreground: 0 0% 100%;
  --border: 54 7% 84%;
  --input: 52 7% 68%;
  --ring: 18 60% 52%;
  --chart-1: 20 58% 44%;
  --chart-2: 248 81% 74%;
  --chart-3: 46 38% 82%;
  --chart-4: 255 38% 88%;
  --chart-5: 21 60% 44%;
  --sidebar: 48 27% 95%;
  --sidebar-foreground: 60 2% 23%;
  --sidebar-primary: 18 60% 52%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 48 27% 89%;
  --sidebar-accent-foreground: 48 1% 20%;
  --sidebar-border: 60 6% 92%;
  --sidebar-ring: 0 0% 71%;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    /* Dark Theme Colors (if needed) */
    --pink-400: rgb(244 114 182);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dark {
  --background: 60 3% 14.5%;
  --foreground: 48 17% 74%;
  --card: 60 3% 14.5%;
  --card-foreground: 45 33% 97%;
  --popover: 60 3% 18.4%;
  --popover-foreground: 60 6% 89%;
  --primary: 20 68% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 45 33% 97%;
  --secondary-foreground: 60 3% 18.4%;
  --muted: 60 4% 10.2%;
  --muted-foreground: 54 2% 69%;
  --accent: 48 13% 9.2%;
  --accent-foreground: 48 27% 95%;
  --destructive: 0 83% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 60 6% 23%;
  --input: 54 4% 31%;
  --ring: 20 68% 60%;
  --chart-1: 20 58% 44%;
  --chart-2: 248 81% 74%;
  --chart-3: 48 13% 9.2%;
  --chart-4: 253 25% 23%;
  --chart-5: 21 60% 44%;
  --sidebar: 48 6% 12%;
  --sidebar-foreground: 48 17% 74%;
  --sidebar-primary: 48 1% 20%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 60 4% 6%;
  --sidebar-accent-foreground: 48 17% 74%;
  --sidebar-border: 60 6% 92%;
  --sidebar-ring: 0 0% 71%;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.react-flow__attribution {
  background: transparent !important;
}

.dark {
  .react-flow__controls-button {
    @apply !bg-accent;
  }
}
